{% extends 'skeletons/base.html' %}
{% load static %}
{% block page_lang%}es{% endblock %}
{% block title %}FIEL Instituto Biblico{% endblock %}
{% block styles %}
{% endblock %}
<!-- Page content-->
{%block content %}
{%include "components/header/cover.html"%}
<div class="ui container container__gutter">

</div>
{%include "components/nav/footer.html"%}
{% endblock %}
{%block late_scripts%}
  <script src="{% static 'js/components/tab.js' %}"></script>
  <script type="text/javascript">
    $('.menu .item').tab();
    </script>
{%endblock%}
