{% load static %}
<div class="ui inverted vertical masthead segment">
  <div class="ui container">
    <h1>{{cover.title}}</h1>
    <h2>{{cover.subtitle}}</h2>
  </div>
</div>

<style type="text/css">

  .masthead.segment {
    padding: 100px 0 20px 0;
    position: relative;
    background-image: url('{{MEDIA_URL}}{{cover.image.image}}') !important;
    background-attachment: fixed;
    background-position: left bottom !important;
    background-size: cover !important;
  }

  .masthead h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: normal;
  }

  .masthead h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: normal;
  }


  .footer.segment {
    padding: 5em 0em;
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .masthead h1 {
      font-size: 2.5em;
    }
    .masthead h2 {
      font-size: 1.2em;
    }
  }

</style>
