{% load static %}
<div class="ui inverted vertical masthead center aligned segment segment__slider">
  <div id="main-slider" class="glide">

      <div class="glide__arrows">
          <button class="glide__arrow prev" data-glide-dir="<"><i class="angle left icon"></i></button>
          <button class="glide__arrow next" data-glide-dir=">"><i class="angle right icon"></i></button>
      </div>

      <div class="glide__wrapper">
          <ul class="glide__track">
            {% for s in slides %}
              <li class="glide__slide">
                {% if s.image %}
                  <img class="glide__slide--image " src="{{MEDIA_URL}}{{s.image.image}}" alt="{% if lang == 'es' %}{{s.image.text_spanish}}{% else %}{{s.image.text_english}}{% endif %}">
                {% else %}
                  <img class="glide__slide--image " src="{% static 'images/home/hero.jpg' %}" alt="{{s.title}}">
                {% endif %}
                <div class="glide__slide--content">
                  {% if s.title %}
                    <h1 class="ui inverted header">
                      {{s.title | safe}}
                    </h1>
                  {% endif %}
                  {% if s.subtitle %}
                    <h2>{{s.subtitle | safe}} </h2>
                  {% endif %}
                  {% if s.cta %}
                    <a href="{{s.cta.url}}" class="ui huge primary button">{% if lang == 'es' %}{{s.cta.text_spanish | safe }}{% else %}{{s.cta.text_english | safe}}{% endif %}</a>
                  {% endif %}
                </div>
              </li>
             {% endfor %}
          </ul>
      </div>

      <div class="glide__bullets"></div>

  </div>
</div>
<style type="text/css">

  .masthead.segment {
    min-height: 500px;
    padding: 80px 0 0 0;
    position: relative;
  }


  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }

  .masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  @media only screen and (min-width: 700px) and (max-width: 740px) {
    .masthead h1.ui.header {
      margin-top: 0.5em;
      font-size: 3.7em;
    }
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 1.1em;
  }


  .footer.segment {
    padding: 5em 0em;
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 0;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.3em;
    }
  }
@media only screen and (max-width: 400px) {
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
}
</style>
