{% load static %}
<!DOCTYPE html>
<html lang="{{locale}}">

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>{{title}} | FIEL</title>
  <meta property="og:title" content="{{title}}">
  <meta name="description" content="{{description}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{request.build_absolute_uri}}">
  <link rel="icon" href="{% static 'images/brand/favicon.png' %}" type="image/png" />
  <link rel="stylesheet" href="{% static 'styles/solomon.min.css' %}" type="text/css" media="screen" />
  <!--Styles-->
  {%block styles%} {% endblock %}
  <!--Seotags-->
  {% block seo_tags %} {% endblock %}
  <!--Scripts-->
  {%block scripts %} {% endblock %}
  <!-- Custom styles -->
  {%include "skeletons/custom-styles.html"%}
</head>

<body>
  {%include "components/nav/fixed.html"%} {%include "components/nav/sidebar.html"%}
  <div class="pusher">
    <!-- Page content-->
    {%block content %}{% endblock %}
  </div>
  <!-- Scripts loaded on body-->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="{% static 'js/components/sidebar.js' %}"></script>
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "LBLA95"
      }
    };
    (function(d, t) {
      var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
      g.src = "//api.reftagger.com/v2/RefTagger.es.js";
      s.parentNode.insertBefore(g, s);
    }(document, "script"));
  </script>
  {%block late_scripts %} {% endblock %}
  <script>
    $(document)
      .ready(function() {
        // create sidebar and attach to menu open
        $('#drawer')
          .sidebar('attach events', '#hamburguer');
      });
  </script>

</body>

</html>
