<div class="ui vertical segment segment__public segment__public_no-bottom-stripe  no-pad  stackable  grid feature_container ">
  {% for feature in features %}
  {% if forloop.counter == 5 %}
  <div class="four wide column no-xs">
  </div>
  {% endif %}
  <div class="four wide column feature">
    <div class="ui vertical segment segment__feature">
      <div class="feature__header">
        <img  class="feature__img" src="{{MEDIA_URL}}{{feature.image.image}}" alt="{{feature.title | striptags | safe}}" />
        <h3 class="ui header aligned">{{feature.title | striptags | safe}}</h3>
      </div>
      <p class="feature__description">{{feature.text | striptags | safe}}</p>
    </div>
  </div>
  {% endfor %}
</div>
<style type="text/css">
  .feature{
    text-align: center;
  }
  .feature__header {
    height: 190px;
  }
  .feature__img{
    width: 90px;
    height: auto;
    margin: 0 auto;
  }
  .feature__description {
    word-wrap: break-word;
  }
</style>
