{% extends 'skeletons/base.html' %}
{% load static %}
{% block styles %}
{% endblock %}
<!-- Page content-->
{%block content %}
{%include "components/header/cover.html"%}
<div class="ui container container__gutter">
  <div class="ui styled fluid accordion">
    {% for question in questions %}
    <div class="title">
      <i class="dropdown icon"></i>
      {{question.title | striptags | safe}}
    </div>
    <div class="content">
      <p class="transition">{{question.text | safe}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{%include "components/nav/footer.html"%}
{% endblock %}
{%block late_scripts%}
  <script src="{% static 'js/components/accordion.js' %}"></script>
  <script type="text/javascript">
  $('.ui.accordion').accordion();
    </script>
{%endblock%}
