{% extends 'skeletons/base.html' %} {% load static %} {% block styles %}
<style type="text/css">
  .program-hero {
    width: 100%;
    margin-top: 78px;
    height: auto;
    display: block;
    clear: both;
    background-image: url('{{MEDIA_URL}}{{program.image}}') !important;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .program-hero__container {
    display: flex !important;
  }

  .program-hero__logo {
    width: 300px;
    height: 250px;
    padding: 20px 50px 0 50px;
  }

  .program-hero__logo img {
    width: 100%;
    height: auto;
  }

  .program-hero__details {
    padding: 20px;
  }

  .program-hero__details {
    color: white;
  }

  .program-hero__details h1 {
    font-size: 4em;
    font-weight: normal;
  }

  .program-hero__details p {
    font-size: 18px;
    font-style: italic;
  }

  .program-hero__details--detail-box {
    display: flex;
  }

  table,
  th,
  td {
    border: 1px solid white;
    border-collapse: collapse;
  }

  td {
    padding: 16px;
    font-size: 16px;
  }

  span.bigger {
    font-size: 28px;
  }

  .program-hero__cta {
    margin-top: 20px !important;
  }

  .teacher__image {
    width: 40px;
    height: 40px;
  }

  .program__segment {
    border-radius: 0 !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  .program__segment--accordion {
    background: transparent !important;
    border-radius: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
  }

  .program__segment--accordion .title {
    font-size: 1.5em !important;
    color: #222 !important;
  }

  .program__segment--accordion .content {
    font-size: 1.1em !important;
  }

  .program__segment--accordion .title:hover {
    color: #333 !important;
  }

  .teacher__card {
    width: 47% !important;
    margin: 1.5% !important;
    padding: 30px !important;
  }
  .teacher__card_no-m-left {
    margin-left: 0 !important;
  }
  .teacher__card .content {
    display: flex;
    color: #333 !important;
  }

  .teacher__card--info{
    flex-grow: 1;
    margin-left: 15px;
  }
  .teacher__card--info .header{
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom:10px;
  }
  .teacher__card .image{
    overflow: initial !important;
    width: 72px !important;
    height: 72px !important;
  }

  @media only screen and (max-width: 700px) {
    .teacher__card {
      width: 100% !important;
    }

    .program-hero {
      background-size: cover;
      padding-bottom: 20px;
    }
    .program-hero__logo {
      display: none;
    }
    .program-hero__container {
      flex-direction: column;
    }
    table {
      margin: 0 auto;
    }
    .program-hero__details {
      text-align: center;
    }
    .program-hero__cta {
      margin: 20px auto 0 auto !important;
    }
  }
</style>
{% endblock %}
<!-- Page content-->
{%block content %}
<div class="program-hero">
  <div class="ui container program-hero__container">
    <div class="program-hero__logo">
      <img src="{{MEDIA_URL}}{{program.logo}}" alt="{{title}}" />
    </div>
    <div class="program-hero__details">
      <h1>{{title | safe}}</h1>
      <p>{{description | safe}}</p>
      <table>
        <tr>
          <td>
            {% if lang == 'es' %}Precio{% else %}Price{% endif %}
            <span class="bigger">${{program.price | floatformat}}</span> COP
          </td>
          <td>
            {% if lang == 'es' %}Duración{% else %}Duration{% endif %}
            <span class="bigger">{{program.duration | floatformat}}</span>{% if lang == 'es' %} semanas{% else %} weeks{% endif %}
          </td>
        </tr>
      </table>
      <a href="javascript:void(0)" onClick="alert('Proximamente - Coming soon')" class="ui huge primary button program-hero__cta">{% if lang == 'es' %}Inscribete{% else %}Register{% endif %}</a>
    </div>
  </div>
</div>
  <div class="ui container margin-top-40 margin-bottom-40">
    <div class="ui vertical segment segment__public_no-bottom-stripe ">
      <h2 class="ui header center aligned segment__title">{% if lang == 'es' %}Contenido{% else %}Content{% endif %}</h2>
    </div>
    <div class="ui styled fluid accordion program__segment--accordion">
      {% for module in academicModules.all %}
      <div class="title">
        <i class="dropdown icon"></i> {% if lang == 'es' %}{{module.name | striptags | safe}}{% else %}{{module.name_en | striptags | safe}}{% endif %}

      </div>
      <div class="content">
        <p class="transition">{% if lang == 'es' %}{{module.description | striptags | safe}}{% else %}{{module.description_en | striptags | safe}}{% endif %}</p>
        <div class="ui bulleted list transition">
          {% for subject in module.subjects.all %}
          <div class="item">{% if lang == 'es' %}{{subject.name | striptags | safe}}{% else %}{{subject.name_en | striptags | safe}}{% endif %}</div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
<div class="ui green inverted segment program__segment">
  <div class="ui container">
  <div class="ui vertical segment segment__public_no-bottom-stripe ">
    <h2 class="ui header center aligned segment__title tx-white">{% if lang == 'es' %}Maestros{% else %}Teachers{% endif %}</h2>
  </div>
    <div class="ui cards teachers margin-top-40 margin-bottom-40">
    {% for teacher in program.teachers.all %}
    <div class="ui raised card teacher__card {% if forloop.counter == 1 or  not forloop.counter|divisibleby:2 %}teacher__card_no-m-left{%endif%}">
      <div class="content">
      <img class="ui small circular image" src="{{MEDIA_URL}}{{teacher.user.avatar}}">
      <div class="teacher__card--info">
        <div class="header">
          {{teacher.user.get_full_name}}
        </div>
        <div class="description">
          {% if lang == 'es' %}{{teacher.bio | safe}}{% else %}{{teacher.bio_en | safe}}{% endif %}
        </div>
      </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</div>
  <div class="ui container margin-top-40 margin-bottom-40">
  <div class="ui vertical segment segment__public_no-bottom-stripe margin-bottom-40">
    <h2 class="ui header center aligned segment__title">{{section_one.title | striptags | safe}}</h2>
  </div>
    {%include "components/display/features.html"%}
</div>
<div class="ui container margin-top-40 margin-bottom-40">
  <div class="ui vertical center aligned segment segment__public_no-bottom-stripe">
    <a href="javascript:void(0)" onClick="alert('Proximamente - Coming soon')" class="ui  huge primary button program-hero__cta">{% if lang == 'es' %}Inscribete{% else %}Register{% endif %}</a>
  </div>
  {% if programs %}
  <div class="ui horizontal divider">
    {% if lang == 'es' %}Ó{% else %}OR{% endif %}
  </div>
  <div class="ui vertical segment segment__public_no-bottom-stripe">
    <h2 class="ui header center aligned">{% if lang == 'es' %}Consulta otros cursos{% else %}Take a look to other courses{% endif %}</h2>
  </div>
  <div class="ui special cards">
    <div class="ui grid">
      {% for program in programs %}
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <div class="ui fluid card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui inverted button" href="{% url 'detalle_programa' program.label %}">{% if lang == 'es' %}Conoce más{% else %}Know more{% endif %}</a>
                </div>
              </div>
            </div>
            <img src="{{MEDIA_URL}}{{program.image}}">
          </div>
          <div class="content">
            <a href="{% url 'detalle_programa' program.label %}" class="header">{% if lang == 'es' %}{{program.name}}{% else %}{{program.name_en}}{% endif %}</a>
          </div>
          <div class="extra content">
            <p>{% if lang == 'es' %}{{program.description}}{% else %}{{program.description_en}}{% endif %}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>


{%include "components/nav/footer.html"%} {% endblock %} {%block late_scripts%}
<script src="{% static 'js/components/dimmer.js' %}"></script>
<script src="{% static 'js/components/accordion.js' %}"></script>
<script type="text/javascript">
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
  $('.ui.accordion').accordion();
</script>
{%endblock%}
