{% extends 'skeletons/base.html' %} {% load static %} {% block styles %}
<style type="text/css">
  .program-logo {
    width: 150px !important;
    height: auto !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    position: absolute;
  }
</style>
{% endblock %}
<!-- Page content-->
{%block content %} {%include "components/header/cover.html"%}
<div class="ui container container__gutter">
  <div class="ui special cards">
    <div class="ui grid">
      {% for program in programs %}
      <div class="sixteen wide mobile eight wide tablet eight wide computer column">
        <div class="ui fluid card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui inverted button" href="{% url 'detalle_programa' program.label %}">{% if lang == 'es' %}Conoce más{% else %}Know more{% endif %}</a>
                </div>
              </div>
            </div>
            <img src="{{MEDIA_URL}}{{program.image}}">
            <img class="program-logo" src="{{MEDIA_URL}}{{program.logo}}">
          </div>
          <div class="content">
            <a href="{% url 'detalle_programa' program.label %}" class="header">{% if lang == 'es' %}{{program.name}}{% else %}{{program.name_en}}{% endif %}</a>
          </div>
          <div class="extra content">
            <p>{% if lang == 'es' %}{{program.description}}{% else %}{{program.description_en}}{% endif %}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{%include "components/nav/footer.html"%} {% endblock %} {%block late_scripts%}
<script src="{% static 'js/components/dimmer.js' %}"></script>
<script type="text/javascript">
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>
{%endblock%}
