{% extends 'skeletons/base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'js/glidejs/css/glide.core.css' %}">
  <link rel="stylesheet" href="{% static 'js/glidejs/css/glide.theme.css' %}">
{% endblock %}
<!-- Page content-->
{%block content %}
{%include "components/header/slider.html"%}
<div class="ui container">
  <div class="ui vertical segment segment__public segment__public_bottom-stripe">
    <h2 class="ui header center aligned segment__title">{{section_one.title | safe}}</h2>
    <p>{{section_one.text | safe}}</p>
  </div>
  <div class="ui vertical segment segment__public  no-pad stackable  grid">
    <div class="six wide column no-pad-top">
      <div class="ui vertical segment segment__public">
        <img class="img-responsive" src="{{MEDIA_URL}}{{section_two.image.image}}" alt="{{section_two.title}}"/>
      </div>
    </div>
    <div class="ten wide column no-pad-top">
      <div class="ui vertical segment segment__public double-gutter">
        <h2 class="ui header aligned segment__title">{{section_two.title | safe}}</h2>
        <p>{{section_two.text | safe }}</p>
      </div>
    </div>
  </div>
  <div class="ui vertical segment segment__public_no-bottom-stripe margin-top-40 margin-bottom-40">
    <h2 class="ui header center aligned segment__title margin-bottom-40">{{section_three.title | striptags | safe}}</h2>
    {%include "components/display/features.html"%}
  </div>
</div>

{%include "components/nav/footer.html"%}
{% endblock %}
{%block late_scripts%}
  <script src="{% static 'js/glidejs/glide.min.js' %}"></script>
  <script>
  $("#main-slider").glide({
      type: "carousel",
      autoplay: false,
      keyboard: true,
  });
  </script>
{%endblock%}
