{% extends 'skeletons/base.html' %}
{% load static %}
{% block styles %}
<style type="text/css">
.belief__accordion .title {
  color: #222 !important;
    font-size: 22px !important;
}
.belief__accordion .content {
  color: #222 !important;
    font-size: 16px !important;
}
</style>
{% endblock %}
<!-- Page content-->
{%block content %}
{%include "components/header/cover.html"%}
<div class="ui container container__gutter">
  <div class="ui styled fluid accordion belief__accordion">
    {% for tab in tabs %}
    <div class="title">
      <i class="dropdown icon"></i>
      {{tab.title | striptags | safe}}
    </div>
    <div class="content">
      <p class="transition">{{tab.text | safe}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{%include "components/nav/footer.html"%}
{% endblock %}
{%block late_scripts%}
  <script src="{% static 'js/components/accordion.js' %}"></script>
  <script type="text/javascript">
  $('.ui.accordion').accordion();
    </script>
{%endblock%}
