{% extends 'skeletons/base.html' %}
{% load static %}
{% block page_lang%}es{% endblock %}
{% block title %}FIEL Instituto Biblico{% endblock %}
{% block styles %}
{% endblock %}
<!-- Page content-->
{%block content %}
{%include "components/header/cover.html"%}
<div class="ui container container__gutter">
  <form class="ui form" role="form" action="" method="post">
{% csrf_token %}
    <div class="field">
      <label>{% if lang == 'es' %}Su nombre{% else %}Your name{% endif %}</label>
      <input type="text" name="contact_name" placeholder="{% if lang == 'es' %}Su nombre{% else %}Your name{% endif %}">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="contact_email" placeholder="Email">
    </div>
    <div class="field">
      <label>{% if lang == 'es' %}Mensaje{% else %}Message{% endif %}</label>
      <textarea name="content" placeholder="{% if lang == 'es' %}Mensaje{% else %}Message{% endif %}"> </textarea>
    </div>
    <button class="ui primary button" type="submit">{% if lang == 'es' %}Enviar{% else %}Submit{% endif %}</button>
  </form>
</div>
{%include "components/nav/footer.html"%}
{% endblock %}
{%block late_scripts%}
  <script src="{% static 'js/components/tab.js' %}"></script>
  <script type="text/javascript">
    $('.menu .item').tab();
    </script>
{%endblock%}
