{% load static %}
<div class="ui large top fixed menu">
  <div class="ui menu__container">
    <a class="toc item item_no-border menu_hide-xs " id="hamburguer">
      <i class="sidebar icon"></i>
    </a>
    <a href="{% url 'home' %}" class="item item_no-border item__logo">
      <img class="ui fluid image" src="{% static 'images/brand/logo.png' %}" alt="logo">
    </a>
    <div class="right menu menu_hide-xs">
      {%include "components/nav/options.html" with drawer=False%}
    </div>
  </div>
</div>
<style type="text/css">
  .item_no-border, .item_no-border:before {
    border: 0 !important;
    background: transparent !important;
  }
  .item__logo {
    width: 140px;
    margin-right: 50px;
  }
  #hamburguer{
    display: none !important;
  }
  .menu__container {
    width: 100%;
    padding: 0 16px;
    display: flex;
    margin: 0 auto;
  }
  @media (max-width: 940px) {
    .menu_hide-xs {
      display: none !important;
    }
    #hamburguer{
      display: flex !important;
    }
  }
</style>
