{% load static %}
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <!--<div class="three wide column">
        {% for item in menu %}
        {% if item.group %}
        <h4 class="ui inverted header">{{item.name}}</h4>
        <div class="ui inverted link list">
          {% for subitem in item.subitems %}
          <a class="item" href="{{subitem.route}}">{{subitem.name}}</a>
          {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
      </div>-->
      <div class="three wide column">
        <h4 class="ui inverted header">Website</h4>
        <div class="ui inverted link list">
          <a href="/" class="item">Home</a>
          {% for item in menu %}
          {% if item.group %}
            {% for subitem in item.subitems %}
              <a class="item" href="{{subitem.route}}">{{subitem.name}}</a>
            {% endfor %}
          {% else %}
            <a class="item" href="{{item.route}}">{{item.name}}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="thirteen wide column">
        <div class="ui stackable grid">
          <div class="right floated right aligned  wide column sponsor">
            <h4 class="ui inverted header">{% if lang == 'es' %}Con el respaldo de: {% else %} Sponsored by: {% endif %}</h4>
            <img class="ui fluid image" src="{% static 'images/brand/aposento.png' %}" alt="logo">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
