{% for item in menu %}
  {% if item.group %}
    <!--Multilevel item-->
    {% if drawer %}
    <div class="item">
      <div class="header">{{item.name}}</div>
      <div class="menu">
        {% for subitem in item.subitems %}
          <a class="item" href="{% url subitem.route %}">{{subitem.name}}</a>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="ui  simple dropdown item">
      {{item.name}}
      <i class="dropdown icon"></i>
      <div class="menu">
        {% for subitem in item.subitems %}
          <a class="item" href="{% url subitem.route %}">{{subitem.name}}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% else %}
    <a class="item" href="{% url item.route %}">{{item.name}}</a>
  {% endif %}
{% endfor %}
<div class="item">
  <a href="https://estudiante.institutofiel.com/" class="ui primary button">Aula virtual</a>
</div>
<!--<div class="ui  simple dropdown item">
Idioma
<i class="dropdown icon"></i>
<div class="menu">
<a class="item"><i class="es flag"></i>Español</a>
<a class="item"><i class="us flag"></i>English</a>
</div>
</div>-->
