{% load static %}
<!-- Sidebar Menu -->
<div class="ui vertical sidebar menu" id="drawer">
  <a class="item item_no-border item__logo">
    <img class="ui fluid image" src="{% static 'images/brand/logo.png' %}" alt="logo">
  </a>
  {%include "components/nav/options.html" with drawer=True%}
</div>
